//CHANGES THEME COLORS OF BOOTSTRAP
$theme-colors: (
  "primary": #011D38,
  "secondary": #3E4D5B
);

$dark-blue: #011D38;
$manatee: #989FA5;
$outerspace: #3E4D5B;
$babyblueeyes: #A3C8ED;
$customwhite : #F5F6F6;
//CHANGES THEME COLORS OF BOOTSTRAP

//CUSTOM MEDIA MIXINS FOR BETTER MOBILE DISPLAY
@mixin for-phone-only {
    @media (max-width: 599px) {@content;}
}

@mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content;}
}

.appContent {
    margin: 1em auto 0;
    padding-top: 4em;
    //NEEDED SINCE NAVBAR IS STICKY, OTHERWISE PAGE CONTENT COVERED
    transition: width 0.5s ease-in-out;
    @include for-phone-only {
      width: 100%;
     }
    @include for-tablet-portrait-up {
      width: 75%;
    }
}
//CUSTOM MEDIA MIXINS FOR BETTER MOBILE DISPLAY


html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
}

.paddingContent {
  padding-bottom: 5em;
}


//FADING BETWEEN COMPONENTS
.fade-enter-active, .fade-leave-active {
    transition: opacity .1s
}

.fade-enter, .fade-leave-to {
    opacity: 0
}
//FADING BETWEEN COMPONENTS

//TO ADD MORE WHITESPACE
.card,
ul.nav-tabs {
    margin-bottom: 1em;
}
//TO ADD MORE WHITESPACE

//HOME PAGE FORMATTING
.home-header {
  padding-top: 3em;
  padding-bottom: 0.5em;
  width: 65%;
  margin: 0 auto;
}

.home-text {
  width: 65%;
  margin: 0 auto;
}
.fullScreenImage {
  height: 80vh;
  width: 100%;
  background: url('/static/IMG_3283.jpg') no-repeat center;
  background-size: 100% auto;
  /* for IE9+, Safari 4.1+, Chrome 3.0+, Firefox 3.6+ */
  -webkit-background-size: 100% auto;
  /* for Safari 3.0 - 4.0 , Chrome 1.0 - 3.0 */
  -moz-background-size: 100% auto;
  /* optional for Firefox 3.6 */
  -o-background-size: 100% auto;
  /* for Opera 9.5 */
  opacity: 0.4;
  top: 5em;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  z-index: -1;
}
//HOME PAGE FORMATTING


//AVOIDS BOTTOM MARGIN ON CARDS WITH TABLES
.table {
  margin-bottom: 0 !important;
}
//AVOIDS BOTTOM MARGIN ON CARDS WITH TABLES

//REMOVES PADDING ON MODALS- CENTERS VIEW ON MOBILE
.modal {
  padding-left: 0 !important;
}
//REMOVES PADDING ON MODALS- CENTERS VIEW ON MOBILE

//FORMATTING FOR CARDS WITH TABS
.nav-tabs {
  background-color: rgba(0, 0, 0, 0.03);
  padding-left: 2em !important;
  padding-right: 2em !important;
  padding-top: 1em !important;
}

div.tab-pane > button.btn-danger {
  margin-top: 2em;
  margin-bottom: 2em;
}

.card-header {
  background-color: #e9ecef !important;
  border-bottom: solid 1px #D4D7DA !important;
}
//FORMATTING FOR CARDS WITH TABS

//CUSTOM FORMATTING
.thead-custom-darkgray {
    background-color: $outerspace;
    color: white;
}

.thead-custom-darkblue {
    background-color: $dark-blue;
    color: white;
}

.custom-form {
  width: 90%;
  margin: 1.5em auto;
}

.custom-nav {
  background-color: $outerspace;
  color: white;
}

.custom-footer {
  background-color: $customwhite;
  color: $babyblueeyes;
  border-top: solid 1px #DCDDDD;
  font-size: smaller;
  width: 100%;
  height: 3em;
}

// div.table-responsive table {
//   width: 80% !important;
//  margin: 0px auto !important;
// }

a.navlink{
  color: rgba(255,255,255, 0.9);
}

.shadow {
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
//CUSTOM FORMATTING
[v-cloak] {display: none  !important}
// [v-cloak] > * {
//     display: none !important;
// }
// [v-cloak]::before {
//     content: "loading...";
// }


//The below import statements are required after the over-riding styles above.
@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/bootstrap';
