//CHANGES THEME COLORS OF BOOTSTRAP
$theme-colors: (
  "primary": #011D38,
  "secondary": #3E4D5B
);

$dark-blue: #011D38;
$manatee: #989FA5;
$outerspace: #3E4D5B;
$babyblueeyes: #A3C8ED;
$customwhite : #EAF1F7;
//CHANGES THEME COLORS OF BOOTSTRAP

//CUSTOM MEDIA MIXINS FOR BETTER MOBILE DISPLAY
@mixin for-phone-only {
    @media (max-width: 599px) {@content;}
}

@mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content;}
}


.appContent {
    margin: 1em auto 0;
    transition: width 0.5s ease-in-out;
    @include for-phone-only {
      width: 100%;
     }
    @include for-tablet-portrait-up {
      width: 75%;
    }
}
//CUSTOM MEDIA MIXINS FOR BETTER MOBILE DISPLAY

//FADING BETWEEN COMPONENTS
.fade-enter-active, .fade-leave-active {
    transition: opacity .3s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
    opacity: 0
}
//FADING BETWEEN COMPONENTS

//TO ADD MORE WHITESPACE
.card,
ul.nav-tabs {
    margin-bottom: 1em;
}
//TO ADD MORE WHITESPACE

//NEEDED SINCE NAVBAR IS STICKY, OTHERWISE PAGE CONTENT COVERED
body {
  padding-top: 65px;
}
//NEEDED SINCE NAVBAR IS STICKY, OTHERWISE PAGE CONTENT COVERED

//AVOIDS BOTTOM MARGIN ON CARDS WITH TABLES
.table {
  margin-bottom: 0 !important;
}
//AVOIDS BOTTOM MARGIN ON CARDS WITH TABLES

//CUSTOM FORMATTING
.thead-custom-darkgray {
    background-color: $outerspace;
    color: white;
}

.thead-custom-darkblue {
    background-color: $dark-blue;
    color: white;
}

.custom-form {
  width: 90%;
  margin: 0 auto;
}

.custom-nav {
  background-color: $outerspace;
  color: white;
}

a.navlink{
  color: rgba(255,255,255, 0.9);
}

.shadow {
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
//CUSTOM FORMATTING
a{
  color: $babyblueeyes;
}


//The below import statements are required after the over-riding styles above.
@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/bootstrap';
