$theme-colors: (
  "primary": #011D38,
  "secondary": #3E4D5B
);

$dark-blue: #011D38;
$manatee: #989FA5;
$outerspace: #3E4D5B;
$babyblueeyes: #A3C8ED;
$customwhite : #EAF1F7;

@mixin for-phone-only {
    @media (max-width: 599px) {@content;}
}

@mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content;}
}
.appContent {
    margin: 1em auto 0;
    @include for-phone-only { width: 100%; }
    @include for-tablet-portrait-up {max-width: 75%;}
}

.card,
ul.nav-tabs {
    margin-bottom: 1em;
}

body {
  padding-top: 65px;
}

.table {
  margin-bottom: 0 !important;
}

.thead-custom-darkgray {
    background-color: $outerspace;
    color: white;
}

.thead-custom-darkblue {
    background-color: $dark-blue;
    color: white;
}

.custom-form {
  width: 90%;
  margin: 0 auto;
}

.custom-nav {
  background-color: $outerspace;
  color: white;
}

a.navlink{
  color: rgba(255,255,255, 0.9);
}

.shadow {
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

a{
  color: $babyblueeyes;
}


//The below import statements are required after the over-riding styles above.
@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/bootstrap';
